*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #090909;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 30px;
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 50px;
}

#nav h3{
    font-size: 25px;
    font-weight: 400;
}

#main h1{
    font-size: 120px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 120px;
    width: 80%;
    position: relative;
    z-index: 999;
    margin-left: 15%;
}

#main h1:nth-child(2){
    margin-top: 100px;
}

#main h1:nth-child(3){
    text-align: center;
}

#main h1:nth-child(4){
    text-align: center;
}

img{
    height:400px;
    position:absolute;
    top:12%;
    left:40%;
}

#img1{
    rotate: 20deg;
}

#img2{
    rotate: 10deg;
}
